name: Simple CI Example

on: 
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Test run
        run: |
          echo "Проверяем код..."
          ls -la
          echo "CI успешно выполнен!"
